<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--<add key="searchBy" value="Names"/>-->
    <add key="searchBy" value="Extensions"/>

    <add key="fromDirectory" value="C:\"/>
    <add key="searchedText" value="test"/>
    <add key="fileInfo" value="exe.config"/>
    <!--<add key="fileInfo" value="appsettings.json;app.config;web.config"/>-->
  </appSettings>
</configuration>
