################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fawkes/v15
/.vs/config
[Oo]bj/
[Bb]in/